<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>

<!--導覽列-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment padding-tb m-shadow">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">管理後臺</h1>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>Blog</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分類</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>標籤</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/100/100">
                        Johnny
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">登出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--二導覽列-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogManage/input}" class="item">發佈</a>
            <a href="#" th:href="@{/admin/blogManage}" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!--中間內容-->
<div class="m-container padding-tb-massive">
    <div class="ui container">
        <div class="ui second segment form">
            <!--            因有三個查詢條件，不能用type與tag的方式上下頁，所以新增一個隱藏的input方式傳遞篩選值-->
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="標題">
                </div>
                <div class="field">
<!--                    <div class="ui labeled action input">-->
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分類</div>
                            <div class="menu">
                                <div th:each="type:${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">佛教</div>
                                <!--/*-->
                                <div class="item" data-value="2">神教</div>
                                <!--*/-->
                            </div>
                        </div>
                        <button id="clear-btn" class="ui compact button">clear</button>
<!--                    </div>-->

                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推薦</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜尋
                    </button>
                </div>
            </div>
        </div>

        <div id="table-container">
            <table th:fragment="blogList" class="ui celled center aligned compact teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>標題</th>
                    <th>類型</th>
                    <th>推薦</th>
                    <th>狀態</th>
                    <th>更新時間</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">Java</td>
                    <td th:text="${blog.type.name}">code</td>
                    <td th:text="${blog.recommend} ? '是' : '否'">Yes</td>
                    <td th:text="${blog.published} ? '發佈' : '草稿'">草稿</td>
                    <td th:text="${blog.updateTime}">2024-07-18 16:30</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogManage/{id}/input(id=${blog.id})}" class="ui mini teal basic button">編輯</a>
                        <a href="#" th:href="@{/admin/blogManage/{id}/delete(id=${blog.id})}" class="ui mini red basic button">刪除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui mini floated pagination menu" th:if="${page.totalPages}>1">
                            <!--                            因有三個查詢條件，不能用type與tag的方式上下頁-->
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item"
                               th:unless="${page.first}">上一頁</a>
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item"
                               th:unless="${page.last}">下一頁</a>
                        </div>
                        <a href="#" th:href="@{/admin/blogManage/input}" class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <p th:text="${message}">恭喜，操作成功!</p>
            </div>

        </div>

    </div>
</div>

<!--底部footer-->
<footer th:replace="admin/_fragments :: footer">
</footer>

<th:block th:replace="admin/_fragments :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</th:block>

<script>
    $('.menu.toggle').click(() => {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //賦值查詢條件，上下頁
    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loadData();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loadData();
    });

    function loadData() {
        $("#table-container").load(/*[[@{/admin/blogManage/search}]]*/"/admin/blogManage/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }

    //消息提示關閉
    $('.message .close').on('click',function () {
        $(this).closest('.message')
            .transition('fade')
    });

    //清除分類篩選
    $('#clear-btn')
        .on('click', function() {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        })
    ;

</script>
</body>
</html>