<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>

<!--導覽列-->
<nav th:replace="admin/_fragments :: menu(0)" class="ui inverted attached segment padding-tb m-shadow">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h1 class="ui teal header item">管理後臺</h1>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>Blog</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分類</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>標籤</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/100/100">
                        Johnny
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">登出</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--二導覽列-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">發佈</a>
            <a href="#" class="active teal item">列表</a>
        </div>
    </div>
</div>

<!--中間內容-->
<div class="m-container padding-tb-massive">
    <div class="ui container">
        <div class="ui success large message">
            <h3>Hi</h3>
            <p>Johnny,歡迎登入</p>
        </div>

        <img src="https://picsum.photos/1000/400" alt="" class="ui rounded bordered fluid image">
    </div>
</div>

<!--底部footer-->
<footer th:replace="admin/_fragments :: footer">
</footer>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
</th:block>

<script>
    $('.menu.toggle').click(() => {
        $('.m-item').toggleClass('m-mobile-hide');
    })

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });
</script>
</body>
</html>