<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title >關於我</title>
</head>
<body>

<!--    導覽列-->
<nav th:replace="_fragments :: menu(5)">
</nav>

<!--中間內容-->
<div class="m-container padding-tb-massive">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <div class="ui segment">
                    <img src="https://picsum.photos/800/600" th:src="@{/images/me.jpg}" alt="" class="ui rounded image">
                </div>
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">關於我</div>
                </div>
                <div class="ui attached segment">
                    <p class="text-thin" th:text="#{about}">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label margin-tb">狗狗</div>
                    <div class="ui orange basic left pointing label margin-tb">貓貓</div>
                    <div class="ui orange basic left pointing label margin-tb">鼠鼠</div>
                    <div class="ui orange basic left pointing label margin-tb">電動</div>
                    <div class="ui orange basic left pointing label margin-tb">出去玩</div>
                    <div class="ui orange basic left pointing label margin-tb">...</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic left pointing label margin-tb">Java</div>
                    <div class="ui teal basic left pointing label margin-tb">JavaScript</div>
                    <div class="ui teal basic left pointing label margin-tb">Python</div>
                    <div class="ui teal basic left pointing label margin-tb">React</div>
                    <div class="ui teal basic left pointing label margin-tb">Node</div>
                    <div class="ui teal basic left pointing label margin-tb">MySQL</div>
                    <div class="ui teal basic left pointing label margin-tb">...</div>
                </div>
                <div class="ui attached bottom segment">
                    <a href="#" th:href="@{https://github.com/johnny871006/blog-server.git}" target="_blank" class="ui circular github icon button" data-content="https://github.com/johnny871006/blog-server.git" data-position="bottom center"><i class="github icon"></i></a>
                    <a href="#" class="ui phone circular icon button" data-content="Phone : 0965398206" data-position="bottom center"><i class="whatsapp icon"></i></a>
                    <a href="#" class="ui linechat circular icon button" data-content="LineID : johnny871006" data-position="bottom center" ><i class="linechat icon"></i></a>
                    <a href="#" class="ui google circular icon button" data-content="Email : johnny871006@gmail.com" data-position="bottom center" ><i class="google icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer">
</footer>

<th:block th:replace="_fragments :: script">
</th:block>

<script>
    $('.menu.toggle').click(() => {
        $('.m-item').toggleClass('m-mobile-hide');
    })

    $('.phone').popup();
    $('.linechat').popup();
    $('.github').popup();
    $('.google').popup();
</script>
</body>
</html>