<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title >歷史檔案</title>
</head>
<body>

<!--    導覽列-->
<nav th:replace="_fragments :: menu(4)">
</nav>

<!--中間內容-->
<div class="m-container-small padding-tb-massive">
    <div class="ui container">
        <!--header-->
        <div class="ui attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">歷史檔案</h3>
                </div>
                <div class=" right aligned column">
                    共 <h3 class="ui orange header inline-block" th:text="${blogCount}"> 14 </h3> 篇
                </div>
            </div>
        </div>

        <!--內容-->
        <th:block th:each="item : ${archiveMap}">
        <h2 class="ui center aligned header" th:text="${item.key}">2024</h2>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item" th:each="blog : ${item.value}">
                <span>
                    <i class="mini teal circle icon"></i>
                    <span th:text="${blog.title}">神學、無神論</span>
                    <div class="ui teal basic left pointing label" th:text="${#dates.format(blog.updateTime,'MMMdd')}">7月18號</div>
                </span>
                <div class="ui orange basic left pointing label" th:text="${blog.flag}">佛說</div>
            </a>
        </div>
        </th:block>
    </div>
</div>

<!--底部footer-->
<footer th:replace="_fragments :: footer">
</footer>

<th:block th:replace="_fragments :: script">
</th:block>

<script>
    $('.menu.toggle').click(() => {
        $('.m-item').toggleClass('m-mobile-hide');
    })
</script>
</body>
</html>