<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <title>文章詳情</title>
</head>
<body>

<!--    導覽列-->
<nav th:replace="_fragments :: menu(1)">
</nav>

<!--中間內容-->
<div class="m-container-small padding-tb-massive">
    <div class="ui container ">
        <!--頭部區域-->
        <div class="ui top attached segment">
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="https://picsum.photos/800/450" alt="" class="ui image avatar"
                         th:src="@{${blog.user.avatar}}">
                    <div class="content">
                        <a class="header" th:text="${blog.user.nickName}">God</a>
                    </div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2024-07-17</span>
                </div>
                <div class="item">
                    <i class="eye icon"></i> <span th:text="${blog.views}">666</span>
                </div>
            </div>
        </div>

        <!--圖片區域-->
        <div class="ui attached segment">
            <img src="https://picsum.photos/800/450" th:src="@{${blog.firstPicture}}" alt="圖片"
                 class="ui fluid rounded image">
        </div>

        <!--內容區域-->
        <div class="ui attached padded segment">
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label" th:text="${blog.flag}">Cool</div>
            </div>

            <h2 class="ui center aligned header" th:text="${blog.title}">文章</h2>
            <br>

            <!-- 有makedown轉成html套件(https://github.com/atlassian/commonmark-java) -->
            <!-- 若使用需將th:text改為th:utext -->
            <div id="content" class="typo typo-selection m-padded-lr" th:text="${blog.content}">
            </div>

            <!--標籤-->
            <div class="m-padded-lr padding-tb-mini">
                <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">
                    方法論
                </div>
            </div>

            <!--點讚-->
            <div class="ui center aligned basic segment">
                <button class="ui good basic orange circular button">按讚</button>
                <label id="good">0</label>
            </div>
        </div>

        <!--作者訊息-->
        <div class="ui attached positive message">
            <div class="ui middle aligned grid">
                <div class="eleven wide column">
                    <ul class="list">
                        <li>作者: <a href="" th:href="@{/about}" target="_blank"
                                     th:text="${blog.user.nickName}">神秘人</a></li>
                        <li>發布時間: <span
                                th:text="${#dates.format(blog.createTime,'yyyy-MM-dd HH-mm')}">神秘時間</span></li>
                        <li>版權聲明: 版權是我滴</li>
                    </ul>
                </div>
                <div class="five wide column">
                    <img src="../static/images/OIP.jpg" th:src="@{/images/OIP.jpg}" alt=""
                         class="ui rounded bordered image" style="width: 110px">
                </div>
            </div>
        </div>

        <!--留言區域-->
        <div  class="ui bottom attached segment">
            <div id="comment-container" class="ui teal segment">
                <div th:fragment="commentList">
                    <div class="ui threaded comments" style="max-width: 100% !important;">
                        <h3 class="ui dividing header">Comments</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img src="https://picsum.photos/800/450" alt="圖" th:src="@{${comment.avatar}}">
                            </a>
                            <div class="content">
                                <a class="author" th:text="${comment.nickName}">Matt</a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH-mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickName}" onclick="reply(this)">Reply</a>
                                </div>
                            </div>
                        </div>
                        <!--/*-->
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/800/450" alt="">
                            </a>
                            <div class="content">
                                <a class="author">Elliot Fu</a>
                                <div class="metadata">
                                    <span class="date">Yesterday at 12:30AM</span>
                                </div>
                                <div class="text">
                                    <p>This has been very useful for my research. Thanks as well!</p>
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="https://picsum.photos/800/450" alt="">
                                    </a>
                                    <div class="content">
                                        <a class="author">Jenny Hess</a>
                                        <div class="metadata">
                                            <span class="date">Just now</span>
                                        </div>
                                        <div class="text">
                                            Elliot you are always so right :)
                                        </div>
                                        <div class="actions">
                                            <a class="reply">Reply</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://picsum.photos/800/450" alt="">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">Reply</a>
                                </div>
                            </div>
                        </div>
                        <!--*/-->
                    </div>
                </div>

            </div>

            <!--留言框-->
            <div id="comment-form" class="ui form">
                <label>
                    <input name="blog.id" th:value="${blog.id}" type="text">
                    <input name="parentComment.id" value="-1" type="text">
                </label>
                <div class="field">
                    <label>
                        <textarea name="content" placeholder="請輸入留言訊息..."></textarea>
                    </label>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide m-margin-bottom">
                        <label class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickName" placeholder="姓名">
                        </label>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom">
                        <label class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="電子信箱">
                        </label>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom">
                        <button id="commentPost-btn" type="button" class="ui teal button m-mobile-wide">
                            <i class="edit icon"></i>留言
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="m-fixed m-right-bottom m-padded-lr">
    <div class="ui vertical icon buttons">
        <!--        <button type="button" class="ui toc teal button">目錄</button>-->
        <a href="#comment-container" type="button" class="ui teal button">留言</a>
        <button class="ui icon line button" data-content="LineID:johnny" data-position="left center"><i
                class="linechat icon"></i></button>
        <a href="#" class="ui icon button"><i class="chevron up icon"></i></a>
    </div>
</div>

<!--<div class="ui toc-container flowing popup transition hidden">-->
<!--    生成的目錄-->
<!--</div>-->


<!--底部footer-->
<footer th:replace="_fragments :: footer">
</footer>

<th:block th:replace="_fragments :: script">
</th:block>

<script>
    $('.menu.toggle').click(() => {
        $('.m-item').toggleClass('m-mobile-hide');
    })

    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    })

    $('.line').popup();

    let total = 0;
    $('.good').click(() => {
        document.getElementById('good').innerHTML = ++total;
    })

    $('.ui.form').form({
        fields: {
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '請輸入評論內容'
                }]
            },
            nickName: {
                identifier: 'nickName',
                rules: [{
                    type: 'empty',
                    prompt: '請輸入暱稱'
                }]
            },
            email: {
                identifier: 'email',
                rules: [{
                    type: 'empty',
                    prompt: '請輸入Email'
                }]
            },
        }
    });

    // $(function () {
    //     $('#comment-container').load("/comments/{id}(id=${blog.id})");
    // });

    $('#commentPost-btn').click(function () {
        const boolean = $('.ui.form').form('validate form');
        if(boolean){
            console.log("檢查成功");
            postData()
      } else {
        console.log("檢查失敗");
      }
    });

    function postData(){
        $('#comment-container').load("/comments",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickName" : $("[name='nickName']").val(),
            "email" : $("[name='email']").val(),
            "content" : $("[name='content']").val()
        },function (responseTxt,statusTxt,xhr) {
            // $(window).scrollTo($('#comment-container'),500);
            clearContent();
        });
    }

    function clearContent() {
        $('[name="content"]').val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder","請輸入留言訊息...");
    }

    //data全用小寫原因 : 用駝峰方式會抓不到值
    function reply(obj) {
        let commentId = $(obj).data('commentid');
        let commentNickName = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder","@"+commentNickName).focus();
        $("[name='parentComment.id']").val(commentId);
        // $(window).scrollTo($('#comment-form'),500);
    }

</script>
</body>
</html>